In [2]:
import networkx as nx
import pandas as pd

In [3]:
data = pd.read_csv('datasets/aeropuertoPeso2.csv', index_col=False, sep=',')
data = data[data.peso!=1]
data

          Mac1    Mac2  peso
0          463     654    94
1          152     336    89
2          837     654    83
3          104     463    81
4          837     463    80
5          654     336    78
6          719     104    77
7          463     152    76
8          837     336    76
9          654     152    72
10         104     654    65
11         104     336    60
12         262     463    57
13       61242     463    57
14       61242     654    57
15       61242     104    56
16        1357     420    56
17         837     152    54
18         104     152    53
19         719     463    49
20       61242     262    48
21        1357    1284    48
22         262     654    48
23         654     345    47
24        1305     420    47
25        1357     336    47
26       61242     336    47
27        1305    1357    46
28        1357     152    44
29        1284     420    43
...        ...     ...   ...
190096     299   74380     2
190097    2746    2654     2
190098   54630   68278     2
190099   49751   48020     2
190100     299   81894     2
190101   39452   39477     2
190102   49291   49290     2
190103  105516  105502     2
190104     299   68188     2
190105   55027   55022     2
190106     299   50372     2
190107   22617    2986     2
190108   64334   64375     2
190109   41584   45947     2
190110  105516  105466     2
190111     299   68370     2
190112  109620  112537     2
190113   79384   79371     2
190114    3911    3925     2
190115     299   74609     2
190116   18853     152     2
190117   64334   64335     2
190118   54612   54606     2
190119  105513  105468     2
190120  129302  132759     2
190121  109620  112539     2
190122  118230    2027     2
190123  105516  105531     2
190124    2746    2634     2
190125   22865   22876     2

[190126 rows x 3 columns]

In [4]:
macs = pd.concat([data['Mac1'],data['Mac2']]).drop_duplicates()
macs

0            463
1            152
2            837
3            104
5            654
6            719
12           262
13         61242
16          1357
24          1305
29          1284
30           336
33            36
42           782
54           254
61          1055
68         34812
71           314
75           288
84          2027
86           299
90           342
91         34185
95            13
96        119391
97          1249
102          214
104          113
105         1450
107         3379
           ...
188815     85820
188864     10339
188868     35668
188994    118214
189005     64344
189009     76470
189095     91018
189115     76510
189148     86290
189159     72333
189188     60221
189260    124228
189309     49296
189341     49274
189368     21991
189372    129319
189421     83945
189426    100727
189431     26871
189488     68229
189491     79223
189515     69578
189527     77022
189659    109191
189733      9727
189784     77029
189875     49036
189918     62313
190002     71599
190074     68315
Length: 45423, dtype: int64

In [5]:
real = nx.Graph()

elist = [tuple(x) for x in data.to_records(index=False)]
real.add_weighted_edges_from(elist)

In [6]:
c_real = nx.average_clustering(real) # Calculo del coeficiente de clustering promedio

0.6209335634938122

In [9]:
nodes = len(macs) # Numero de nodos segun indica el paper.
posiblesArcos = 0.5 * nodes * (nodes-1)
promedio = len(data)/posiblesArcos #Probabilidad para la creacion de un arco

In [10]:
graph = nx.gnp_random_graph(nodes, promedio, seed=2000, directed=False)

In [11]:
c_aleatorio = nx.average_clustering(graph) # Calculo del coeficiente de clustering promedio
c_aleatorio

0.00019354559505826966

In [8]:
print('Clusterig Real', c_real)
nx.write_gexf(real, "real.gexf")

Clusterig Real 0.6209335634938122

In [12]:
print('Clusterig Aleatorio', c_aleatorio)
nx.write_gexf(graph, "aleatorio.gexf")

Clusterig Aleatorio 0.00019354559505826966